import(methods)
import(AnnotationDbi)
export(
    HPO,
    HPO_dbconn,
    HPO_dbfile,
    HPO_dbschema,
    HPO_dbInfo,
    HPOTerms 
)
exportMethods(
    "as.list",
    "HP",
    "initialize",
    "Secondary",
    "show",
    "Synonym",
    "Term" 
)
exportClasses(
    "HPOTerms",
     "HPOTermsAnnDbBimap" 
)
